html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  box-sizing: border-box;
  background: rgb(245, 245, 245);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.cr-acc {
  background: rgb(150, 187, 54);
  border-radius: 5px;
  border: 0px solid;
  color: white;
  font-weight: bold;
  font-size: 10px;
  width: 140px;
  height: 30px;
}
.cr-acc:hover {
  background: rgb(107, 187, 54);
}

.log-in {
  border-radius: 5px;
  background: whitesmoke;
  border: 1px solid;
  font-weight: bold;
  font-size: 10px;
  width: 70px;
  height: 30px;
}

.log-in a {
  text-decoration: none;
}
.cr-acc a {
  text-decoration: none;
}
.cracc-cracc a {
  text-decoration: none;
}

.log-in:hover {
  /* box-shadow: 0 0 2em rgba(0, 0, 0, 0.1), inset 0 0 1em rgba(0, 0, 0, 0.1); */
  background-color: rgb(216, 216, 216);
}

.parag-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  color: grey;
  font-weight: bold;
  font-size: 13px;
}

.circle-nav {
  width: 10px;
  height: 10px;
  background-color: orange;
  border-radius: 5px;
  margin: 10px;
}

.or {
  margin: 10px;
  color: orange;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 150px;
  background-color: rgb(98, 98, 98);
}

.parag-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.circle-footer {
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  border-radius: 5px;
  margin: 10px;
}

.copy-footer {
  color: white;
}

.login {
  display: flex;
  align-items: baseline;
  padding: 0px 152px 0px 159px;
}
.h2-modif {
  margin-right: 9px;
  color: rgb(150, 187, 54);
}
.hr-lane {
  flex: 1;
  height: 1px;
  background-color: rgba(216, 216, 216);
}

.head-div-login {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  min-height: 59vh;
}
.login-div-left {
  display: flex;
  flex-direction: column;
}

.span-log {
  inline-size: 400px;
  color: grey;
}

.orange-text {
  color: orange;
}
.grey-baby {
  color: grey;
}

.em {
  margin-bottom: 5px;
}
.pw {
  margin-bottom: 5px;
}
.login-div-right {
  color: orange;
}

.login-login {
  display: block;
  margin-top: 25px;
  background: rgb(150, 187, 54);
  border-radius: 5px;
  border: 0px solid;
  color: white;
  font-weight: bold;
  font-size: 10px;
  width: 90px;
  height: 28px;
}
.cracc-head-div {
  display: flex;
  align-items: center;
  padding-left: 159px;
  color: orange;
  min-height: 59vh;
}
.span-logg {
  inline-size: 270px;
  color: grey;
}

.grey-babyy {
  color: grey;
  margin-top: -25px;
}

.cracc-div-middle {
  margin: 57px 25px 0px 55px;
}

.cracc-cracc {
  display: block;
  margin-top: 30px;
  background: rgb(150, 187, 54);
  border-radius: 5px;
  border: 0px solid;
  color: white;
  font-weight: bold;
  font-size: 10px;
  width: 140px;
  height: 28px;
}

.bckgr-in {
  background: whitesmoke;
  border-radius: 4px;
  border: 1px solid grey;
  padding: 5px 10px 5px 10px;
}

.avatar-img {
  width: 100px;
  height: 100px;
  border-radius: 200px;
}
.avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.avatar button {
  display: block;
  margin-top: 30px;
  border: 1px solid grey;
  border-radius: 5px;
  color: grey;
  font-weight: bold;
  font-size: 10px;
  width: 140px;
  height: 28px;
}

.avatar-save{
  display: block;
  margin-top: 30px;
  background: rgb(150, 187, 54);
  border-radius: 5px;
  border: 0px solid;
  color: white;
  font-weight: bold;
  font-size: 10px;
  width: 70px;
  height: 25px;
}
